//Fonts
@font-face {
  font-family: "IBMPlexSans";
  src: url('../../../public/fonts/Ibmplexsansmedium.woff');
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url('../../../public/fonts/Ibmplexsansbold.woff');
}

body {
  font-family: "IBMPlexSans";
  font-size: 1em;
  p {
    margin: 0;
  }
}

.calendar-container {
  width: 992px;
  height: 1000px;
  outline: 1px solid #b0bec5;
  margin: auto;
  .calendar-header {
    background: #f7f7f8;
    max-height: 32px;
    padding: 48px 48px 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .controls-container {
      max-width: 50%;
      flex: 0 1 50%;
      display: flex;
      .btn:first-child {
        margin-right: 16px;
      }
    }
  }
  .calendar-body {
    padding: 24px 48px 48px 48px;
    .date-switch {
      padding-bottom: 32px;
      display: flex;
      align-items: center;
      .today-button {
        width: 96px;
        height: 24px;
        padding: 0 6px;
        margin-left: 8px;
      }

      .current-date {
        display: block;
        width: 136px;
        height: 24px;
        font-family: "IBMPlexSans-Bold";
        color: #607d8b;
        text-align: center;
        text-transform: capitalize;
        margin: 0 8px;
      }
      .switch {
        width: 24px;
        height: 24px;
        position: relative;
        &:after {
          content: '';
          border: 6px solid transparent;
          display: block;
          margin: 0 auto;
          position: absolute;
        }
        &.prev:after {
          border-right: 9px solid #607d8b;
          top: 6px;
        }
        &.next:after {
          border-left: 9px solid #607d8b;
          top: 6px;
          left: 8px;
        }
      }
    }
    .calendar-items {
      border: 1px solid #b0bec5;
      display: grid;
      grid-template-columns: repeat(7, 127px);
      grid-template-rows: repeat(6, 127px);
      grid-gap: 1px;
    }
  }
}

//Calendar square
.item {
  grid-column: span 1;
  border-right: inherit;
  border-bottom: inherit;
  border-bottom: inherit;
  margin-bottom: -1px;
  padding: 9px 8px;
  color: #607d8b;
  font-size: .75em;
  cursor: pointer;
  position: relative;

  &:hover {
    outline: 2px solid #008393;
  }
  .day {
    margin: 0 0 9px 0;
  }
  span {
    display: block;
  }
  .event-name {
    font-family: IBMPlexSans-Bold;
    margin: 0 0 8px 0;
  }

  &.not-current-month {
    color: #b0bec5;
    pointer-events: none;
    &:hover {
      outline: none;
    }
  }
}

//General styles
.btn {
  width: 128px;
  padding: 6px 8px;
  background: #2196f3;
  border: none;
  color: #FFF;
  height: 32px;

  &.btn-grey {
    background: #f7f7f8;
    color: #607d8b;
  }
}

.blue-background {
  background-color: #c3eaef;
}

// Add event

.popup-event {
  height: 328px;
  width: 256px;
  box-shadow: 0px -1px 9px 3px #0000008f;
  position: absolute;
  top: 104px;
  background: white;
  z-index: 10;
  padding: 24px 32px 16px 24px;
  display: none;
  &.isShow {
    display: block;
  }

  &:before {
    content: '';
    display: block;
    border: 15px solid transparent;
    border-bottom: 14px solid white;
    position: absolute;
    top: -28px;
    left: 50px;
  }
  input {
    width: 100%;
    display: block;
    height: 26px;
    margin-bottom: 8px;
  }
  textarea {
    width: 100%;
    height: 134px;
    margin: 8px 0 16px 0;
  }
}

.close {
  color: white;
  font-family: IBMPlexSans-Bold;
  background: #607d8b;
  border-radius: 50%;
  padding: 1px 1px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
  font-size: 10px;
  z-index: 11;
}

.disabled {
  pointer-events: none;
  opacity: .7;
}

.info-event {
  padding: 30px 32px 16px;
  width: 264px;
  height: 306px;
  box-shadow:-4px 0px 12px 1px #0000008f;
  top: 0;
  left: 140px;
  &:before {
    content: '';
    display: block;
    border: 15px solid transparent;
    border-right: 14px solid white;
    position: absolute;
    top: 24px;
    left: -28px;
  }
  .info-date,.info-person {
    font-family: IBMPlexSans-Bold;
    margin-bottom: 14px;
  }
  .info-name {
    font-size: 1.25rem;
    font-family: IBMPlexSans-Bold;
    margin-bottom: 9px;
  }
  .info-description {
    margin-bottom: 19px;
  }
  .btn-grey {
    width: 72px;
    height: 24px;
    cursor: pointer;
    &:first-of-type {
      margin-right: 16px;
    }
  }
}

.showInfo {
  & ~ p {
    .info-event {
      display: block;
    }
  }
}
.subItem {
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  &.showInfo + .info-event {
    display: block;
  }
}